body {
    font-family: "Quicksand", sans-serif;
    color: #c4c4c4;
    background-color: #1d1d1d;
    max-width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
}
/* Header */

nav {
    border-radius: 0.9rem;
    background-color: #0c0c0c;
    margin: 2rem 0;
    font-size: 1.25rem;
}

nav ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #c4c4c4;
    text-transform: uppercase;
}

/* Main */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.9rem;
    background-color: #0c0c0c;
    padding: 1rem;
}

.main-btn {
    font-size: 1.5rem;
    background-color: none;
    cursor: pointer;
}

input {
    color: #c4c4c4;
    font-size: 1.5rem;
}

input[type="file"] {
    display: none;
}

#texto {
    background: none;
    border: none;
    border-bottom: 1px solid #c4c4c4;
}

#texto::placeholder {
    text-align: center; 
    color: #c4c4c4;
    font-size: 1.5rem;
    text-transform: uppercase;
}
